#phase1 {
    text-align: center;
}
#phase2 {
    display: none;
    text-align: center;
}

#phase3 {
    display: none;
    text-align: center;
}

#show_all_data {
    display: none;
    text-align: center;
}

#multiphase {
    border: orange 2px solid;
    padding: 25px;
    width: 300px;
    margin: 25px auto;
    box-shadow: 0px 3px 3px 1px;
    background-image: radial-gradient(yellow, orange);
}

button {
    margin: 15px;
    padding: 2px 15px;
    background-image: linear-gradient(#fde8da, #cba68d);
    color: white;
    font-weight: bold;
}